.template-tasks {
    .template-tasks-list {
        width: 100%;
        border-collapse: collapse;
        thead > tr {
            position: sticky;
            top: 0;
            background-color: #DDF;
        }
        tbody > tr {
            &:nth-child(odd) {
                background-color: #EEE;
            }
            &:hover {
                background-color: #DDD;
            }
        }
        th {
            font-weight: bold;
            text-align: left;
            padding: 10px 6px;
            &:nth-child(2) {
                width: 50%;
            }
            &:last-child {
                text-align: right;
            }
        }
        td {
            padding: 10px 6px;
            &:last-child {
                text-align: right;
                height: 32px;
            }
        }
        a:link, a:visited {
            color: inherit;
        }
    }
    .template-tasks-paging {
        width: 100%;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        margin: 12px 0 10px 0;
        .center {
            justify-self: center;
        }
        .right {
            justify-self: end;
        }
        .disabled {
            cursor: inherit;
            opacity: 0.5;
        }
        a:visited, a:link {
            color: inherit;
            text-decoration: none;
        }
        input {
            vertical-align: middle;
            margin-bottom: 4px;
            margin-right: 2px;
        }
        label {
            cursor: pointer;
        }
    }
}
