@import url("./node_modules/modern-normalize/modern-normalize.css");
@import url("./templates/login.css");
@import url("./templates/tasks_list.css");

[x-cloak] {
    display: none !important;
}
:root {
    max-width: 1000px;
    margin: 10px auto;
    color: #444;
    overflow-y: scroll;
}
hr {
    color: #FFF;
}
.error {
    background-color: #FCC;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    a:visited, a:link {
        color: inherit;
        text-decoration: none;
    }
}
.header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    .logo {
        flex-shrink: 0;
        flex-grow: 1;
        h1 {
            display: inline;
        }
        img {
            width: 58px;
            height: 40px;
            vertical-align: middle;
        }
        a {
            text-decoration: none;
        }
    }
    .navigation {
        padding-top: 6px;
        a.active {
            text-shadow: 0 0 1px #000;
        }
        a:visited, a:link {
            color: inherit;
            text-decoration: none;
        }
    }
}
.main {
    .fade-in {
        animation: fadein 250ms ease-in-out;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
